<configuration scan="true" scanPeriod="60 seconds" debug="true">
    <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->
    <property name="LOG_HOME" value="/var/log/shw_logback.log"/>
    <!-- Console 输出设置 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>gbk</charset>
        </encoder>
    </appender>

    <logger name="com.controller" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="com.dao" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="com.pojo" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="com.vo" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="service" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="INFO">　　　　　
        <appender-ref ref="CONSOLE"/>　
    </root>
</configuration>